[Unit]
Description=CEC API Service
After=multi-user.target
 
[Service]
Type=simple
ExecStart=DIRNAME/flask/bin/python DIRNAME/cecapi.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target